::selection {
    background: #ffe500;
}
hr {
    margin: 42px auto;
    border: 0;
    max-width: 68%;
    height: 1px;
    background: #e8e8e8;
}
font:first-child {
    display: block;
    padding: 1px 10px;
    background-image: url(img/bg-gray.jpg);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}
#template {
    position: relative;
    margin: 110px auto;
    padding: 70px 60px 64px;
    max-width: 614px;
    font-size: .97em;
    line-height: 1.37em;
    text-align: center;
    color: #00336b;
    background: #fffffff5;
    border-radius: 2px;
    text-shadow: 0px 2px 0px #00adff36;
    /* text-transform: uppercase; */
    font-style: italic;
    letter-spacing: 0.1px;
    box-shadow: 0px 0px 16px 2px #00000021;
}
#design-top-badge {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -50px;
    width: 100px;
    height: 5px;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;
}
#design-top-badge div {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: 100%;
}
#design-top-badge div:nth-child(1) {
    background: #438e43;
}
#design-top-badge div:nth-child(2) {
    background: white;
}
#design-top-badge div:nth-child(3) {
    background: #e04848;
}
h1 {
    font-size: 1.17em;
    text-transform: uppercase;
}
h4 {
    margin-top: 42px;
}
dl {
    position: relative;
    left: -41px;
    margin: -4px auto 44px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: table;
    text-align: left;
    font-size: 0.92em;
}
dl dt {
    display: inline-block;
    vertical-align: middle;
    width: 174px;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
}
dl dt:after {
    content: ":";
}
dl dd {
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
ul {
    margin: -7px 0 -28px;
    padding: 0;
    list-style-type: none;
}
ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
}
ul li a {
    text-decoration: none;
}
ul li a i {
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
ul li a i.facebook {
    background-image: url(img/icon-facebook.png);
}